name: CICD

on:
  push:
    branches:
    - "master"
  pull_request:
    branches:
    - "master"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2
    - name: Setup Go
      uses: actions/setup-go@v2
      with:
        go-version: '^1.18'

    - name: Run build
      run: |
        go mod vendor
        go build .

    - name: golang ci linting
      uses: golangci/golangci-lint-action@v3
      with:
        version: latest
        args: -E gofmt
